@import 'variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    vertical-align: middle;
}

.mx-auto{
    margin: 0 auto;
}

/* margin padding */
@for $i from 1 through 10{
    .pt-#{$i * 10}{
        padding-top: $i * 10px;
    }
    .pb-#{$i * 10}{
        padding-bottom: 10px;
    }
    .mt-#{$i * 10}{
        margin-top: $i * 10px;
    }
    .mb-#{$i * 10}{
        margin-bottom: 10px;
    }
}





/* background image */
.bg{
    background-size:cover;
    background-position: center;
    position: relative;
    z-index: 2;
}
.bg::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: .7;
    z-index: -1;
}
/* button */
.btn{
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    border-radius: 3px;
    line-height: 20px;
    &.btn-primary{
        background-color: tomato;
        padding: 10px 30px;
        &:hover{
            background-color: #333;
        }
    }
    &.btn-border{
        border: solid 1px tomato;
        padding: 8px 30px;
        &:hover{
            border: solid 1px #333;
            background-color: #333;
        }
    }
}

ul{
    list-style: none;
}
/* flex property */
$align: left, center, right, justify;
@each $i in $align{
    .text-#{$i}{
        text-align:$i ;
    }
}
/* flex */
$flex: flex, inline-flex;
@each $i in $flex{
    .d-#{$i}{
        display:$i ;
    }
}
/* flex justify-content */
$justify: start, end, center, between, around, evenly; 
@each $i in $justify{
    .justify-content-#{$i}{
        justify-content: $i;
    }
}
/* flex align-items */
$align: start, end, center, srtetch baseline; 
@each $i in $align{
    .align-items-#{$i}{
        align-items: $i;
    }
}