.about-area{
    .img-area{
        img{

        }
    }
    .about-content{
        h2{ 
            font-size: 50px;
            font-weight: 800;
            line-height: 70px;
            color: tomato;

        }
        h4{
            font-size: 20px;
            text-transform: capitalize;
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 15px;
        }
        ul{
            li{
                font-size: 18px;
                text-transform: capitalize;
                margin-bottom: 10px;
                i{
                    color: tomato;
                    padding-right: 5px;
                }
            }
        }
        a{
            margin-top: 20px;
            
        }
    }
}