.banner-area{
    height: 100vh;
    .banner-content{
        h1{
            font-size: 80px;
            line-height: 100px;
            color: #fff;
            text-transform: capitalize;
            font-weight: 700;
        }
        h4{
            font-size: 20px;
            color: #fff;
            font-weight: 400;
            line-height: 30px;
        }
        a{ 
            margin: 30px 5px 0 5px;
            font-size: 16px;
            transition: .3s;
            &:hover{

            }
        }
    }
}




