.cta-area{
    .cta-content {
        text-align: center;
        padding: 150px 0;
        color: #fff;
        i {
            font-size: 80px;
            color: #fff;
            margin-bottom: 10px;
        }
        h4 {
            font-size: 30px;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 10px;
        }
    }
}
