
.services-area{
    background-color: rgb(255, 214, 243);
    padding:100px 0;
    margin:100px 0;
    .single-service{
        background-color: rgb(255, 223, 250);
        margin: 10px;
        padding: 20px;
        border: 1px solid grey;
        
        &:hover{
            i{
                border-radius: 50%;
            }
        }
        i{
            font-size: 20px;
            color: white;
            background-color: tomato;
            padding: 10px;
            transition: .3s;
        }
        h4{
            font-size: 20px;
            padding: 10px 0;
            text-transform: capitalize;
        }
        p{
            margin: 10px 0;
        }
    }
}

